<connectionStrings>
  <add name="NopSqlConnection" connectionString="Data Source=SKYTOUCH_LIVE;Initial Catalog=Skytouch;Integrated Security=False;Persist Security Info=False;User ID=sa;Password=Sa123456789;MultipleActiveResultSets=True;Connect Timeout=120" />
  <add name="Skytouch_IndamerConnectionString" connectionString="Data Source=SKYTOUCH_LIVE;Initial Catalog=Skytouch;Integrated Security=SSPI;Trusted_Connection=Yes "
    providerName="System.Data.SqlClient" />
  <add name="New_AerochampConnectionString" connectionString="Data Source=SKYTOUCH\SKYTOUCH;Initial Catalog=Skytouch;Integrated Security=True"
    providerName="System.Data.SqlClient" />
</connectionStrings>
